body {
  background-color: #555;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  border: 2px solid white;
}

th,
td {
  border: 1px solid #555;
  padding: 8px 12px;
  text-align: center;
}

th {
  background: #333;
  color: #fff;
}
